

*{ 
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*General page style*/

body{
    font-family:'Inter', sans-serif;
    background:white
}

/* ================= HEADER ================= */

header{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    padding:25px 50px;
    background:white
}

.logo-section{
    display:flex;
    gap:20px;
}

.logo-section img{
    width:110px;
    height:auto;

}

.museum-text h1{
    font-family:'Playfair Display', serif;
    Color:#8b4218;
    font-size:3rem;
    font-weight:400;
    line-height:1.1;
}

.museum-text p{
    color:grey;
    margin-top:10px;
    font-size:1rem;
}