

*{ 
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*General page style*/

body{
    font-family:'Inter', sans-serif;
    background:white;
}

/* ================= HEADER ================= */

header{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    padding:25px 50px;
    background:white;
}

.logo-section{
    display:flex;
    gap:20px;
}

.logo-section img{
    width:110px;
    height:auto;

}

.museum-text h1{
    font-family:'Playfair Display', serif;
    Color:#8b4218;
    font-size:3rem;
    font-weight:400;
    line-height:1.1;
}

.museum-text p{
    color:grey;
    margin-top:10px;
    font-size:1rem;
}

.nav-links{
    display:flex;
    gap:50px;
    margin-top:15px;
}

.nav-links strong{
    font-size: 1.2rem;
}

.header-right{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;

}

.header-right input{
    width:200px;
    padding:10px 15px;
    border:2px solid #c75a18;
    border-radius:25px;

}

.socials{
    display:flex;
    gap:10px;
    font-size: 1.2rem;
}

.donate-btn{
    background:#8b4218;
    color:white;
    border:none;
    padding:12px 30px;
    border-radius:15px;
    display:inline-block;
}

/* NOTICE BAR */

.notice-bar{
    background:#a44a16;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 50px;
}

.notice-content{
    display:flex;
    align-items:center;
    gap:15px;
}

.visit-btn{
    background:transparent;
    border:2px solid white;
    color:white;
    padding:12px 25px;
    border-radius:25px;
    cursor:pointer;

}

/*HERO*/

.hero{
    position:relative;
    height:600px;

    background-image:url("museum.jpg");
    background-size:cover;
    background-position:center;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.45);
     background-image: url("images/school.jpg");
    background-size: cover;
}

.hero-content{
    position:relative;
    z-index:1;

    color:white;

    max-width:650px;
    padding:120px 50px;
   
}

.hero-content h2{
    font-family:'Playfair Display', serif;
}

.line{
    width:90px;
    height:3px;
    background:#d2702f;
    margin:25px 0;
    
}

.hero-content h2{
    font-family:'Playfair Display', serif;
    font-size:4rem;
    font-weight:400;
}

.line{
    width:90px;
    height:3px;
    background:#d2702f;
    margin:25px 0;
}

.hero-content p{
    font-size:1.5rem;
    line-height:1.6;
    margin-bottom:35px;
}

.explore-btn{
    background:#9b460f;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:15px;
    cursor:pointer;
}

/* RESPONSIVE */

@media (max-width: 900px){

    header{
        flex-direction:column;
        gap:30px;
    }

    .nav-links{
        flex-direction:column;
        gap:15px;
    }

    .notice-bar{
        flex-direction:column;
        gap:15px;
        text-align:center;
    }

    .hero-content h2{
        font-size:3rem;
    }
}